<div class="kp-background flex justify-center items-center">
  <mat-card class="w-3/12 m-0 p-0" style="min-width: 375px; height: 400px; max-width: 400px;">
    <div class="h-1/2 flex flex-col justify-center items-center" style="background-color: #B10F1F;">
      <img src="../../assets/kp-logo.svg" height="150" width="150">
      <div class="w-1/3 mt-3" style="border: 1px solid black;"></div>
      <p class="text-sm mt-3 text-white">FSP Portal</p>
    </div>
    <div class="h-1/2 flex justify-center items-center flex-col">
      <p class="p-0 m-0 text-login-title text-center mb-3" style="font-size: 17px;"><strong>Welcome!</strong></p>
<!--      <div class="w-full mb-3 flex flex-col justify-center items-center">-->
<!--        <button mat-raised-button color="primary-color">Login</button>-->
<!--      </div>-->
      <div class="flex flex-col justify-center items-center w-full">
<!--        <button mat-raised-button [disabled]="loginForm.invalid" #submitButton (click)="submitForm()" style="height: 36px;" class="w-1/3 flex flex-row rounded-md justify-center items-center bg-primary shadow-sm">-->
<!--          <div class="flex w-full" *ngIf="!loading">-->
<!--            <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 mr-2" fill="none" viewBox="0 0 24 24" stroke="white">-->
<!--              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 16l-4-4m0 0l4-4m-4 4h14m-5 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h7a3 3 0 013 3v1" />-->
<!--            </svg>-->
<!--            <p class="text-white text-center text-xs m-0 p-0">Login</p>-->
<!--          </div>-->
<!--          <div [class.spinner]="loading" class="flex w-full" *ngIf="loading">-->

<!--          </div>-->
<!--        </button>-->
        <button (click)="popupLogin()" mat-raised-button color="primary-color-white-text" style="width: 150px; height: 48px;">Login</button>
      </div>
    </div>
  </mat-card>
</div>

<!-- <mat-toolbar color="primary">
  <a class="title" href="/">KP Broker Portal</a>

  <div class="toolbar-spacer"></div>
  <a mat-button [routerLink]="['guarded']">Guarded Component</a> -->

  <!-- <button mat-button *ngIf="loginDisplay" (click)="editProfile()">Edit Profile</button> -->
  <!-- <button mat-raised-button *ngIf="!loginDisplay" (click)="login()">Login</button>
  <button mat-raised-button color="accent" *ngIf="loginDisplay" (click)="logout()">Logout</button>
</mat-toolbar>
<div class="container"> -->
  <!--This is to avoid reload during acquireTokenSilent() because of hidden iframe -->
  <!-- <router-outlet *ngIf="!isIframe"></router-outlet>
</div> -->
