.kp-background {
  width: 100%;
  height: 100%;
  background-image: url('../../assets/kp-background.svg');
  background-size: cover;
  background-position: center;
}

//.kp-background-login {
//  width: 100%;
//  height: 100%;
//  background-image: url('../../assets/kp-background.svg');
//  ackground-blend-mode: difference;
//  background-size: cover;
//  background-position: center;
//}

.kp-background-login {
  position: relative;
  overflow: hidden;
}

.kp-background-login::before {
  content: "";
  position: absolute;
  width: 200%;
  height: 200%;
  top: -50%;
  left: -50%;
  z-index: -1;
  background: url('../../assets/kp-background.svg') 0 0 repeat;
  transform: rotate(30deg);
}
