@import '../../../../scss/variables.scss';

td, th {
  width: 25%;
}

.mat-elevation-z8 {
  box-shadow: unset !important;
}

div > table {
  box-shadow: unset !important;
}

tr.mat-header-row {
  background-color: $primary !important;
  border-radius: 10px !important;
}

tr > th {
  color: white;
  border: 0 !important;
}

tr > th:hover {
  background-color: $primary-selected;
}

tr > th:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

tr > th:last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

td {
  text-align: center !important;
}

table {
  width: 100%;
}

mat-header-cell, mat-cell {
  justify-content: center;
}

th.mat-header-cell {
  text-align: center !important;
}

tr.mat-row:hover {
  background-color: #F2F2F2;
}

tr > td {
  font-size: 11px;
  min-width: 100px !important;
  //max-width: 150px !important;
  color: $table-color;
}

tr > td:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

tr > td:last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
