<div class="p-4 pb-1">

  <form [formGroup]="fspForm">

    <div *ngIf="fspId">
      <p class="m-0 p-0 font-bold h-4">FSP Status</p>
      <p class="m-0 p-0">Changing the FSP status to disabled will result in disabling the KI's and Brokers listed under the FSP</p>
      <mat-form-field appearance="outline" appearance="outline"class="w-1/4">
        <mat-label>FSP Status</mat-label>
        <mat-select
          placeholder="FSP Status"
          formControlName="fspStatus"
          (selectionChange)="confirmFspStatusChange($event)"
        >
          <mat-option
            *ngFor="let fpsStatus of configData.fspStatusList"
            [value]="fpsStatus"
          >
            {{ fpsStatus.name }}
          </mat-option>
        </mat-select>
        <mat-error>{{utilityService.getError(fspStatus)}}</mat-error>
      </mat-form-field>
      <mat-divider></mat-divider>
    </div>

    <div class="mt-3 w-full">
      <p class="m-0 p-0 font-bold">FSP General Details</p>

      <mat-form-field appearance="outline" appearance="outline" class="w-1/2 pr-4">
        <mat-label>Trading as</mat-label>
        <input
          matInput
          required
          formControlName="tradingAs"
          placeholder="Trading As..."
        />
        <mat-error>{{utilityService.getError(tradingAs)}}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" appearance="outline" class="w-1/2">
        <mat-label>FSP Domain Name</mat-label>
        <input
          matInput
          required
          formControlName="fspDomainName"
          placeholder="FSP Domain Name"
        />
        <mat-error>{{utilityService.getError(fspDomainName)}}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-1/4 pr-4">
        <mat-label>Company Reg. Number</mat-label>
        <input
          matInput
          required
          [imask]="{mask: '[aaaa]/[aaaaaa]/[aa]'}"
          formControlName="companyRegNumber"
          placeholder="Company Reg. Number"
        />
        <mat-error>{{utilityService.getError(companyRegNumber)}}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-1/4 pr-4">
        <mat-label>VAT Number</mat-label>
        <input
          matInput
          required
          maxlength="10"
          minlength="10"
          [imask]="{mask: '{4}[000000000]'}"
          (keypress)="checkNumbers($event)"
          (paste)="checkNumbersPaste($event)"
          formControlName="vatNumber"
          placeholder="VAT Number"
        />
        <mat-error>{{utilityService.getError(vatNumber)}}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-1/4 pr-4">
        <mat-label>TAX Number</mat-label>
        <input
          matInput
          required
          maxlength="10"
          minlength="10"
          [imask]="{mask: '[0000000000]'}"
          (keypress)="checkNumbers($event)"
          (paste)="checkNumbersPaste($event)"
          formControlName="taxNumber"
          placeholder="TAX Number"
        />
        <mat-error>{{utilityService.getError(taxNumber)}}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-1/4">
        <mat-label>FSP Reg. Number</mat-label>
        <input
          matInput
          required
          maxlength="10"
          formControlName="fspRegNumber"
          placeholder="FSP Reg. Number"
        />
        <mat-error>{{utilityService.getError(fspRegNumber)}}</mat-error>
      </mat-form-field>

    </div>

    <div>
      <p class="m-0 p-0 font-bold">FSP Contact Details</p>

      <mat-form-field appearance="outline" class="w-1/4 pr-4">
        <mat-label>Email Address</mat-label>
        <input
          matInput
          required
          formControlName="emailAddress"
          placeholder="Email Address"
        />
        <mat-error>{{utilityService.getError(emailAddress)}}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-1/4 pr-4">
        <mat-label>Alternative Email Address</mat-label>
        <input
          matInput
          formControlName="alternativeEmailAddress"
          placeholder="Alternative Email Address"
        />
        <mat-error>{{utilityService.getError(alternativeEmailAddress)}}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-1/4 pr-4">
        <mat-label>Work Number</mat-label>
        <input
          matInput
          (keypress)="checkNumbers($event)"
          (paste)="checkNumbersPaste($event)"
          formControlName="workNumber"
          placeholder="Work Number"
        />
        <mat-error>{{utilityService.getError(workNumber)}}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-1/4">
        <mat-label>Mobile Number</mat-label>
        <input
          matInput
          required
          (keypress)="checkNumbers($event)"
          (paste)="checkNumbersPaste($event)"
          formControlName="mobileNumber"
          placeholder="Mobile Number"
        />
        <mat-error>{{utilityService.getError(mobileNumber)}}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-1/4 pr-4">
        <mat-label>Alternative Contact Number</mat-label>
        <input
          matInput
          (keypress)="checkNumbers($event)"
          (paste)="checkNumbersPaste($event)"
          formControlName="alternativeContactNumber"
          placeholder="Alternative Contact Number"
        />
        <mat-error>{{utilityService.getError(alternativeContactNumber)}}</mat-error>
      </mat-form-field>

    </div>

    <div>
      <p class="m-0 p-0 font-bold">FSP Physical Address</p>

      <mat-form-field appearance="outline" class="w-1/4 pr-4">
        <mat-label>Street Number</mat-label>
        <input
          matInput
          type="number"
          required
          formControlName="streetNumber"
          placeholder="Street Number"
        />
        <mat-error>{{utilityService.getError(streetNumber)}}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-1/4 pr-4">
        <mat-label>Street 1/Complex Name</mat-label>
        <input
          matInput
          required
          formControlName="street1"
          placeholder="Street 1/Complex Name"
        />
        <mat-error>{{utilityService.getError(street2)}}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-1/4 pr-4">
        <mat-label>Street 2</mat-label>
        <input
          matInput
          required
          formControlName="street2"
          placeholder="Street 2"
        />
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-1/4">
        <mat-label>Suburb</mat-label>
        <input
          matInput
          required
          formControlName="suburb"
          placeholder="Suburb"
        />
        <mat-error>{{utilityService.getError(suburb)}}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-1/4 pr-4">
        <mat-label>Town</mat-label>
        <input
          matInput
          required
          formControlName="town"
          placeholder="Town"
        />
        <mat-error>{{utilityService.getError(town)}}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-1/4 pr-4">
        <mat-label>Province</mat-label>
        <input
          matInput
          required
          formControlName="province"
          placeholder="Province"
        />
        <mat-error>{{utilityService.getError(province)}}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-1/4 pr-4">
        <mat-label>Postal Code</mat-label>
        <input
          matInput
          required
          max="9999999999"
          minlength="4"
          (keypress)="checkNumbers($event)"
          (paste)="checkNumbersPaste($event)"
          maxlength="10"
          formControlName="postalCode"
          placeholder="Postal Code"
        />
        <mat-error>{{utilityService.getError(postalCode)}}</mat-error>
      </mat-form-field>

    </div>

    <div>
      <p class="m-0 p-0 font-bold">FSP Banking Details</p>

      <mat-form-field appearance="outline" class="w-1/4 pr-4">
        <mat-label>Bank Name</mat-label>
        <mat-select
          required
          formControlName="bankName"
          placeholder="Bank Name"
        >
          <mat-option
            *ngFor="let bank of banks"
            [value]="bank"
          >
            {{ bank }}
          </mat-option>
        </mat-select>
        <mat-error>{{utilityService.getError(bankName)}}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-1/4 pr-4">
        <mat-label>Branch Code</mat-label>
        <input
          matInput
          required
          (keypress)="checkNumbers($event)"
          (paste)="checkNumbersPaste($event)"
          formControlName="branchCode"
          placeholder="Branch Code"
        />
        <mat-error>{{utilityService.getError(branchCode)}}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-1/2">
        <mat-label>Account Holder Name</mat-label>
        <input
          matInput
          required
          formControlName="accountHolderName"
          placeholder="Account Holder Name"
        />
        <mat-error>{{utilityService.getError(accountHolderName)}}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-1/4 pr-4">
        <mat-label>Account Type</mat-label>
        <mat-select
          required
          formControlName="accountType"
          placeholder="Account Type"
        >
          <mat-option
            *ngFor="let accountType of accountTypes"
            [value]="accountType"
          >
            {{ accountType }}
          </mat-option>
        </mat-select>
        <mat-error>{{utilityService.getError(accountType)}}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-1/4 pr-4">
        <mat-label>Account Number</mat-label>
        <input
          matInput
          (keypress)="checkNumbers($event)"
          (paste)="checkNumbersPaste($event)"
          required
          maxlength="17"
          minlength="9"
          formControlName="accountNumber"
          placeholder="Account Number"
        />
        <mat-error>{{utilityService.getError(accountNumber)}}</mat-error>
      </mat-form-field>

    </div>

    <div>
      <p class="m-0 p-0 font-bold">FSP Fees</p>

      <mat-form-field appearance="outline" class="w-1/4 pr-4">
        <mat-label>Fees Percentage</mat-label>
        <input
          matInput
          type="number"
          maxlength="3"
          minlength="1"
          formControlName="feesPercentage"
          required
          placeholder="Fees Percentage"
        />
        <span matSuffix>%</span>
        <mat-error>{{utilityService.getError(feesPercentage)}}</mat-error>
      </mat-form-field>

    </div>

    <div>
      <p class="m-0 p-0 font-bold">FSP Commissions</p>

      <mat-form-field appearance="outline" class="w-1/4 pr-4">
        <mat-label>Commission Type</mat-label>
        <mat-select
          required
          formControlName="commissionType"
          placeholder="Commission Type"
          (selectionChange)="selectCommissionType($event)"
        >
          <mat-option
            *ngFor="let commissionType of configData.commissionStructureTypeList"
            [value]="commissionType"
          >
            {{ commissionType.name }}
          </mat-option>
        </mat-select>
        <mat-error>{{utilityService.getError(commissionType)}}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-1/4 pr-4">
        <mat-label>Upfront Commission</mat-label>
        <input
          matInput
          required
          formControlName="upfrontCommission"
          type="number"
          max="100"
          min="0"
          placeholder="Upfront Commission"
        />
        <span matSuffix>%</span>
        <mat-error>{{commissionError}}</mat-error>
        <mat-hint>{{ upfrontCommissionHintMsg }}</mat-hint>
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-1/4 pr-4">
        <mat-label>As and When Commission</mat-label>
        <input
          matInput
          type="number"
          formControlName="asAndWhenCommission"
          max="100"
          min="0"
          required
          placeholder="As and When Commission"
        />
        <span matSuffix>%</span>
        <mat-error>{{commissionError}}</mat-error>
        <mat-hint>{{ asAndWhenHintMsg }}</mat-hint>
      </mat-form-field>

    </div>


  </form>

  <div class="flex flex-row mb-8 mt-6">
    <button (click)="confirmFsp()" style="width: 200px; height: 48px;" class="rounded-md flex justify-center items-center flex-col" mat-raised-button [disabled]="fspForm.invalid || (fspId && fspInactive)" [color]="fspForm.invalid ? 'disabled' : 'success'">
      <div class="w-full flex justify-center items-center">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 9v3m0 0v3m0-3h3m-3 0H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z" />
        </svg>
        <div style="font-size: 12px;">{{ fspId ? 'Save Changes' : 'Save'}}</div>
      </div>
    </button>

    <div class="flex justify-center items-center">
      <p class="m-0 p-0 ml-3 w-40">Please ensure all information is correct before saving.</p>
    </div>
  </div>

  <mat-divider *ngIf="fspId"></mat-divider>

  <app-fsp-documents #appFspDocuments *ngIf="fspId" [fspId]="fspId" [fspActive]="fspActive" [fspInactive]="fspInactive"></app-fsp-documents>

</div>


