<!-- <div *ngIf="!loginDisplay">
  <p>Please sign-in to see your profile information.</p>
</div>

<div *ngIf="loginDisplay">
  <p>Login successful!</p>
  <p>Request your profile information by clicking Profile above.</p>
</div>

<div>
  <p><strong>First Name: </strong> {{profile?.givenName}}</p>
  <p><strong>Last Name: </strong> {{profile?.surname}}</p>
  <p><strong>Email: </strong> {{profile?.userPrincipalName}}</p>
  <p><strong>Id: </strong> {{profile?.id}}</p>
</div>

<mat-toolbar color="primary">

  <div class="toolbar-spacer"></div>

  <a mat-button [routerLink]="['profile']">Profile</a>

  <button mat-raised-button *ngIf="loginDisplay" (click)="logout()">Logout</button>

</mat-toolbar> -->

<div
  class="example-container"
>
  <mat-toolbar
      class="example-toolbar absolute top-0 left-0 z-50"
      [style.marginLeft]="snav.opened ? '250px' : '98px'"
    >
    <button (click)="snav.toggle()" mat-mini-fab color="primary-color" aria-label="Toggle Sidenav">
      <mat-icon style="color: white;">menu</mat-icon>
    </button>
    <h1 class="text-white ml-4">KP Broker Portal</h1>
  </mat-toolbar>

  <mat-sidenav-container
    class="example-sidenav-container"
  >
    <mat-sidenav
      #snav
      [mode]="'side'"
      [style.width]="snav.opened ? '250px' : '98px'"
    >
      <mat-nav-list>
        <div class="mt-2 flex justify-center items-center flex-col">
          <img
            [routerLink]="routerLink()"
            class="cursor-pointer"
            [src]="snav.opened ? '../../assets/kp-logo-navbar-expanded.svg' : '../../assets/kp-logo-navbar-retracted.svg'"
          >
          <div class="w-2/3 mt-4" style="border-bottom: 1px solid black"></div>
        </div>
        <a [routerLink]="navMenuItem.route" [routerLinkActive]="'active-nav-item'" class="flex justify-center items-center mt-4" (mouseleave)="exitHoveredMode()" (mouseenter)="enterHoveredMode(navMenuItem)" mat-list-item routerLink="." *ngFor="let navMenuItem of navMenuItems">
          <img src="../../assets/office-building.svg">
          <div *ngIf="snav.opened" style="font-size: 11px;" class="ml-2 text-white">{{navMenuItem.name}}</div>
        </a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content
      (mouseenter)="exitHoveredMode()"
      class="bg-background p-8"
      [style.marginLeft]="snav.opened ? '250px' : '98px'"
      [style.marginTop]="'64px'"
    >
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
