<div class="pt-3" id="fsp-documents">
  <p class="m-0 p-0 font-bold h-4">FSP Required Documents</p>
  <p class="m-0 p-0">File Requirements include pdf, png, jpg and jpeg file type support. Please insure that multi pages documents is saved as a single file before uploading to the relevant allocated space.</p>
  <div
    class="p-4 border-loading-success border-2 mb-3 rounded-md flex flex-row w-full justify-between items-center"
    *ngFor="let document of documents"
  >
    <div class="flex flex-row justify-center items-center">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8 mr-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12h6m-6 4h6m2 5H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z" />
      </svg>
      <div>
        <p class="m-0 p-0 h-5 font-bold">{{ document.documentType.name }}</p>
        <div class="flex flex-row items-baseline">
          <p class="m-0 p-0 h-5 font-bold">File Name:</p>
          <p class="m-0 p-0 h-5 ml-1 truncate overflow-hidden flex items-center">{{ document.name ? document.name : 'N/A' }}</p>
        </div>
      </div>
    </div>
    <div class="flex flex-row justify-center items-center">
<!--      <div class="flex flex-row">-->
<!--        <p class="m-0 p-0 h-5 font-bold">Date:</p>-->
<!--        <p class="m-0 p-0 h-5 ml-1">{{ document.url ? document.name : 'N/A' }}</p>-->
<!--      </div>-->
      <div class="flex flex-row">
        <p class="m-0 p-0 h-5 font-bold">Document Status:</p>
        <p class="m-0 p-0 h-5 ml-1 mr-4">{{ document.url ? 'Uploaded' : 'No File Uploaded' }}</p>
      </div>
      <div *ngIf="document.url" class="flex flex-row justify-center items-center">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8 mr-4 stroke-success" fill="none" viewBox="0 0 24 24">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
        </svg>
        <button [disabled]="fspInactive" (click)="viewDocument(document)" style="width: 150px; height: 48px;" class="mr-4 rounded-md flex justify-center items-center flex-col" mat-raised-button color="primary-color">
          <div class="w-full flex justify-center items-center">
            <div style="font-size: 12px;" class="text-white">View</div>
          </div>
        </button>
        <button [disabled]="fspInactive" (click)="fileUpload.click()" style="width: 150px; height: 48px;" class="rounded-md flex justify-center items-center flex-col" mat-raised-button color="success">
          <div class="w-full flex justify-center items-center">
            <div style="font-size: 12px;" class="text-white">Replace</div>
          </div>
          <input type="file"
            class="file-input"
            [accept]="'image/png,image/jpeg,application/pdf,application'"
            (change)="onFileSelected($event, document)" #fileUpload
          >
        </button>
      </div>
      <div *ngIf="!document.url" class="flex flex-row justify-center items-center">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8 mr-4 upload" fill="none" viewBox="0 0 24 24" stroke="black">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-8l-4-4m0 0L8 8m4-4v12" />
        </svg>
        <button [disabled]="fspInactive" (click)="fileUploadAdd.click()" style="width: 150px; height: 48px;" class="mr-4 rounded-md flex justify-center items-center flex-col" mat-raised-button color="primary-color">
          <div class="w-full flex justify-center items-center">
            <div style="font-size: 12px;" class="text-white">Add</div>
          </div>
          <input type="file"
            class="file-input"
            [disabled]="fspInactive"
            [accept]="'image/png,image/jpeg,application/pdf,application'"
            (change)="onFileSelected($event, document)" #fileUploadAdd
          >
        </button>
      </div>
    </div>
  </div>
</div>
