//main color scheme
$primary: #B10F1F;
$primary-selected: #8B010E;
$hover-color: #F2F2F2;
$secondary-grey: #5C5C5C;
$black: #000000;
$white: #FFFFFF;
$grey-tones-1: #FAFAFA;
$grey-tones-2: #EBEBEB;
$grey-tones-3: #E4E4E4;
$grey-tones-4: #D0D3D4;
$grey-tones-5: #A2AAAD;
$grey-tones-6: #425563;
$disabled-text: #B9B9B9;
$disabled: #E6E6E6;
$secondary-extended-1: #FF9399;
$secondary-extended-2: #FFCACC;
$secondary-extended-3: #FF9466;
$table-color: #5A5A5A;
$font: Poppins, "Roboto", sans-serif;
$font-monsterrat: Montserrat;

// loaders
$loading-success: #1BB800;
$loading-danger: #D6001C;
$loading-progress: #f2f2f2;

$errorMessageTextColor: red;
/*Login*/
$forgotPasswordColor: #FC766AFF;
