<app-login (login)="receiveLogin($event)" *ngIf="shouldLogin"></app-login>
<router-outlet></router-outlet>
<div *ngIf="staticService.isLoading$ | async" class="absolute flex justify-center items-center z-50 opacity-60 w-full h-full bg-disabled">
  <div [class.spinner-disabled]="true"></div>
</div>
