<mat-card class="p-4">

  <mat-form-field appearance="outline" appearance="outline"appearance="standard">
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
  </mat-form-field>

  <div class="mat-elevation-z8">
    <table class="w-full" mat-table [dataSource]="dataSource" matSort>

      <ng-container matColumnDef="policyId">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Policy ID </th>
        <td mat-cell *matCellDef="let row" class="truncate overflow-hidden text-xs max-w-50"> {{row.policyId}} </td>
      </ng-container>

      <ng-container matColumnDef="policyNumber">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Policy Number </th>
        <td mat-cell *matCellDef="let row" class="truncate overflow-hidden text-xs max-w-50"> {{row.policyNumber}} </td>
      </ng-container>

      <ng-container matColumnDef="dateLinked">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Date Linked </th>
        <td mat-cell *matCellDef="let row" class="truncate overflow-hidden text-xs max-w-50"> {{row.dateLinked}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
      </tr>
    </table>

    <mat-paginator
      [pageSizeOptions]="[5, 10, 25, 100]"
      (page)="setPageSizeOptions($event)"
      [length]="totalElements"
      [pageSize]="limit"
      showFirstLastButtons
      aria-label="Select page of FSPs"
    ></mat-paginator>
  </div>

</mat-card>
