<div class="p-4">
  <form [formGroup]="intermediaryForm">

    <div *ngIf="intermediaryId">
      <p class="m-0 p-0 font-bold h-4">Intermediary Status</p>
      <p class="m-0 p-0">Changing the Intermediary status to inactive will result in disabling the selected Intermediary.</p>
      <mat-form-field appearance="outline" appearance="outline"class="w-1/4">
        <mat-label>Intermediary Status</mat-label>
        <mat-select
          placeholder="Intermediary Status"
          formControlName="intermediaryStatus"
        >
          <mat-option
            *ngFor="let status of statuses"
            [value]="status"
          >
            {{ status }}
          </mat-option>
        </mat-select>
        <mat-error>{{utilityService.getError(intermediaryStatus)}}</mat-error>
      </mat-form-field>
      <mat-divider></mat-divider>
    </div>

    <div class="mt-3 w-full">
      <p class="m-0 p-0 font-bold">Intermediary General Details</p>

      <mat-form-field appearance="outline" appearance="outline" class="w-1/2 pr-4">
        <mat-label>Title</mat-label>
        <!--        <mat-select-->
        <!--          required-->
        <!--          formControlName="title"-->
        <!--          placeholder="Title"-->
        <!--        >-->
        <!--          <mat-option-->
        <!--            *ngFor="let title of titles"-->
        <!--            [value]="title"-->
        <!--          >-->
        <!--            {{ title }}-->
        <!--          </mat-option>-->
        <!--        </mat-select>-->
        <input
          matInput
          required
          maxlength="10"
          formControlName="title"
          placeholder="Title"
        />
        <mat-error>{{utilityService.getError(title)}}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" appearance="outline" class="w-1/2">
        <mat-label>Name</mat-label>
        <input
          matInput
          required
          formControlName="fullName"
          placeholder="Full Name"
        />
        <mat-error>{{utilityService.getError(fullName)}}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-1/4 pr-4">
        <mat-label>Surname</mat-label>
        <input
          matInput
          required
          formControlName="surname"
          placeholder="Surname"
        />
        <mat-error>{{utilityService.getError(surname)}}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-1/4 pr-4">
        <mat-label>ID Number</mat-label>
        <input
          matInput
          required
          type="number"
          formControlName="idNumber"
          placeholder="ID Number"
        />
        <mat-error>{{utilityService.getError(idNumber)}}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-1/4 pr-4">
        <mat-label>KP Broker Code</mat-label>
        <input
          matInput
          readonly
          [disabled]="true"
          formControlName="brokerCode"
          placeholder="This is a read-only field that will automatically be populated."
        />
        <mat-error>{{utilityService.getError(brokerCode)}}</mat-error>
        <mat-hint>This input is automatically filled during intermediary creation</mat-hint>
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-1/4">
        <mat-label>Intermediary Type</mat-label>
        <mat-select
          required
          formControlName="intermediaryType"
          placeholder="Intermediary Type"
        >
          <mat-option
            *ngFor="let intermediaryType of configData.intermediaryTypeList"
            [value]="intermediaryType"
          >
            {{ intermediaryType.name }}
          </mat-option>
        </mat-select>
        <mat-error>{{utilityService.getError(intermediaryType)}}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-1/4 pr-4">
        <mat-label>Password</mat-label>
        <input
          matInput
          formControlName="password"
          placeholder="Password"
        />
        <mat-error>{{utilityService.getError(password)}}</mat-error>
      </mat-form-field>

    </div>

    <div>
      <p class="m-0 p-0 font-bold">Intermediary Contact Details</p>

      <mat-form-field appearance="outline" class="w-1/4 pr-4">
        <mat-label>Email Address</mat-label>
        <input
          matInput
          required
          formControlName="emailAddress"
          placeholder="Email Address"
        />
        <mat-error>{{utilityService.getError(emailAddress)}}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-1/4 pr-4">
        <mat-label>Alternative Email Address</mat-label>
        <input
          matInput
          formControlName="alternativeEmailAddress"
          placeholder="Alternative Email Address"
        />
        <mat-error>{{utilityService.getError(alternativeEmailAddress)}}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-1/4 pr-4">
        <mat-label>Work Number</mat-label>
        <input
          matInput
          (keypress)="checkNumbers($event)"
          (paste)="checkNumbersPaste($event)"
          formControlName="workNumber"
          placeholder="Work Number"
        />
        <mat-error>{{utilityService.getError(workNumber)}}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-1/4">
        <mat-label>Mobile Number</mat-label>
        <input
          matInput
          required
          (keypress)="checkNumbers($event)"
          (paste)="checkNumbersPaste($event)"
          formControlName="mobileNumber"
          placeholder="Mobile Number"
        />
        <mat-error>{{utilityService.getError(mobileNumber)}}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-1/4 pr-4">
        <mat-label>Alternative Contact Number</mat-label>
        <input
          matInput
          (keypress)="checkNumbers($event)"
          (paste)="checkNumbersPaste($event)"
          formControlName="alternativeContactNumber"
          placeholder="Alternative Contact Number"
        />
        <mat-error>{{utilityService.getError(alternativeContactNumber)}}</mat-error>
      </mat-form-field>

    </div>

    <div>
      <p class="m-0 p-0 font-bold">Intermediary Physical Address</p>

      <mat-form-field appearance="outline" class="w-1/4 pr-4">
        <mat-label>Street Number</mat-label>
        <input
          matInput
          type="number"
          required
          formControlName="streetNumber"
          placeholder="Street Number"
        />
        <mat-error>{{utilityService.getError(streetNumber)}}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-1/4 pr-4">
        <mat-label>Street 1/Complex Name</mat-label>
        <input
          matInput
          required
          formControlName="street1"
          placeholder="Street 1/Complex Name"
        />
        <mat-error>{{utilityService.getError(street1)}}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-1/4 pr-4">
        <mat-label>Street 2</mat-label>
        <input
          matInput
          required
          formControlName="street2"
          placeholder="Street 2"
        />
        <mat-error>{{utilityService.getError(street2)}}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-1/4">
        <mat-label>Suburb</mat-label>
        <input
          matInput
          required
          formControlName="suburb"
          placeholder="Suburb"
        />
        <mat-error>{{utilityService.getError(suburb)}}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-1/4 pr-4">
        <mat-label>Town</mat-label>
        <input
          matInput
          required
          formControlName="town"
          placeholder="Town"
        />
        <mat-error>{{utilityService.getError(town)}}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-1/4 pr-4">
        <mat-label>Province</mat-label>
        <input
          matInput
          required
          formControlName="province"
          placeholder="Province"
        />
        <mat-error>{{utilityService.getError(province)}}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-1/4 pr-4">
        <mat-label>Postal Code</mat-label>
        <input
          matInput
          required
          max="9999999999"
          (keypress)="checkNumbers($event)"
          (paste)="checkNumbersPaste($event)"
          minlength="4"
          maxlength="10"
          formControlName="postalCode"
          placeholder="Postal Code"
        />
        <mat-error>{{utilityService.getError(postalCode)}}</mat-error>
      </mat-form-field>

    </div>

<!--    <div>-->
<!--      <p class="m-0 p-0 font-bold">Intermediary Fees</p>-->

<!--      <mat-form-field appearance="outline" class="w-1/4 pr-4">-->
<!--        <mat-label>Fees Percentage</mat-label>-->
<!--        <input-->
<!--          matInput-->
<!--          type="number"-->
<!--          maxlength="3"-->
<!--          minlength="1"-->
<!--          formControlName="feesPercentage"-->
<!--          required-->
<!--          placeholder="Fees Percentage"-->
<!--        />-->
<!--        <mat-error>{{utilityService.getError(feesPercentage)}}</mat-error>-->
<!--        <span matSuffix>%</span>-->
<!--      </mat-form-field>-->

<!--    </div>-->

    <div>
      <p class="m-0 p-0 font-bold">Intermediary Commissions</p>

      <mat-form-field appearance="outline" class="w-1/4 pr-4">
        <mat-label>Commission Type</mat-label>
        <mat-select
          required
          formControlName="commissionType"
          placeholder="Commission Type"
          (selectionChange)="selectCommissionType($event)"
        >
          <mat-option
            *ngFor="let commissionType of configData.commissionStructureTypeList"
            [value]="commissionType"
          >
            {{ commissionType.name }}
          </mat-option>
        </mat-select>
        <mat-error>{{utilityService.getError(commissionType)}}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-1/4 pr-4">
        <mat-label>Upfront Commission</mat-label>
        <input
          matInput
          required
          formControlName="upfrontCommission"
          type="number"
          maxlength="3"
          minlength="1"
          placeholder="Upfront Commission"
        />
        <span matSuffix>%</span>
        <mat-error>{{commissionError}}</mat-error>
        <mat-hint>{{ upfrontCommissionHintMsg }}</mat-hint>
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-1/4 pr-4">
        <mat-label>As and When Commission</mat-label>
        <input
          matInput
          type="number"
          formControlName="asAndWhenCommission"
          maxlength="3"
          minlength="1"
          required
          placeholder="As and When Commission"
        />
        <span matSuffix>%</span>
        <mat-error>{{commissionError}}</mat-error>
        <mat-hint>{{ asAndWhenHintMsg }}</mat-hint>
      </mat-form-field>

    </div>


  </form>

  <div class="flex flex-row mb-8">
    <button (click)="confirmIntermediary()" [disabled]="(intermediaryForm.invalid || intermediaryInactive) && !(intermediaryStatus?.value.toUpperCase() === 'ACTIVE' && !intermediaryForm.invalid)" style="width: 200px; height: 48px;" class="rounded-md flex justify-center items-center flex-col" mat-raised-button color="success">
      <div class="w-full flex justify-center items-center">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 9v3m0 0v3m0-3h3m-3 0H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z" />
        </svg>
        <div style="font-size: 12px;">{{ intermediaryId ? 'Save Changes' : 'Save'}}</div>
      </div>
    </button>

    <div class="flex justify-center items-center">
      <p class="m-0 p-0 ml-3 w-40">Please ensure all information is correct before saving.</p>
    </div>
  </div>

  <mat-divider *ngIf="intermediaryId"></mat-divider>

  <app-intermediary-documents *ngIf="intermediaryId" [intermediaryId]="intermediaryId" [intermediaryActive]="intermediaryActive" [intermediaryInactive]="intermediaryInactive"></app-intermediary-documents>



</div>
