<div class="p-4 pb-1">

  <div class="mb-2">
    <div class="flex flex-row">
      <p class="mb-0 p-0 text-xl font-bold">KI:</p>
      <p class="mb-0 p-0 text-lg truncate overflow-hidden text-xs ml-1">{{ kiId ? fullName.value : 'N/A' }}</p>
    </div>
  </div>

  <mat-divider class="pb-2"></mat-divider>

  <form [formGroup]="kiForm">

    <div *ngIf="kiId">
      <p class="m-0 p-0 font-bold h-4">KI Status</p>
      <p class="m-0 p-0">Changing the KI status to inactive will result in disabling the selected KI</p>
      <mat-form-field appearance="outline" appearance="outline"class="w-1/4">
        <mat-label>KI Status</mat-label>
        <mat-select
          placeholder="KI Status"
          formControlName="kiStatus"
        >
          <mat-option
            *ngFor="let kiStatus of kiStatuses"
            [value]="kiStatus"
          >
            {{ kiStatus }}
          </mat-option>
        </mat-select>
        <mat-error>{{utilityService.getError(kiStatus)}}</mat-error>
      </mat-form-field>
      <mat-divider></mat-divider>
    </div>

    <div class="mt-3 w-full">
      <p class="m-0 p-0 font-bold">KI General Details</p>


      <mat-form-field appearance="outline" appearance="outline" class="w-1/2 pr-4">
        <mat-label>Title</mat-label>
<!--        <mat-select-->
<!--          required-->
<!--          formControlName="title"-->
<!--          placeholder="Title"-->
<!--        >-->
<!--          <mat-option-->
<!--            *ngFor="let title of titles"-->
<!--            [value]="title"-->
<!--          >-->
<!--            {{ title }}-->
<!--          </mat-option>-->
<!--      </mat-select>-->
        <input
          matInput
          required
          maxlength="10"
          formControlName="title"
          placeholder="Title"
        />
        <mat-error>{{utilityService.getError(title)}}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" appearance="outline" class="w-1/2">
        <mat-label>Name</mat-label>
        <input
          matInput
          required
          formControlName="fullName"
          placeholder="Full Name"
        />
        <mat-error>{{utilityService.getError(fullName)}}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-1/4 pr-4">
        <mat-label>Surname</mat-label>
        <input
          matInput
          required
          formControlName="surname"
          placeholder="Surname"
        />
        <mat-error>{{utilityService.getError(surname)}}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-1/4 pr-4">
        <mat-label>ID Number</mat-label>
        <input
          matInput
          required
          (keypress)="checkNumbers($event)"
          (paste)="checkNumbersPaste($event)"
          formControlName="idNumber"
          placeholder="ID Number"
        />
        <mat-error>{{utilityService.getError(idNumber)}}</mat-error>
      </mat-form-field>

    </div>

    <div>
      <p class="m-0 p-0 font-bold">KI Contact Details</p>

      <mat-form-field appearance="outline" class="w-1/4 pr-4">
        <mat-label>Email Address</mat-label>
        <input
          matInput
          required
          formControlName="emailAddress"
          placeholder="Email Address"
        />
        <mat-error>{{utilityService.getError(emailAddress)}}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-1/4 pr-4">
        <mat-label>Alternative Email Address</mat-label>
        <input
          matInput
          formControlName="alternativeEmailAddress"
          placeholder="Alternative Email Address"
        />
        <mat-error>{{utilityService.getError(alternativeEmailAddress)}}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-1/4 pr-4">
        <mat-label>Work Number</mat-label>
        <input
          matInput
          (keypress)="checkNumbers($event)"
          (paste)="checkNumbersPaste($event)"
          formControlName="workNumber"
          placeholder="Work Number"
        />
        <mat-error>{{utilityService.getError(workNumber)}}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-1/4">
        <mat-label>Mobile Number</mat-label>
        <input
          matInput
          (keypress)="checkNumbers($event)"
          (paste)="checkNumbersPaste($event)"
          required
          formControlName="mobileNumber"
          placeholder="Mobile Number"
        />
        <mat-error>{{utilityService.getError(mobileNumber)}}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-1/4 pr-4">
        <mat-label>Alternative Contact Number</mat-label>
        <input
          matInput
          (keypress)="checkNumbers($event)"
          (paste)="checkNumbersPaste($event)"
          formControlName="alternativeContactNumber"
          placeholder="Alternative Contact Number"
        />
        <mat-error>{{utilityService.getError(alternativeContactNumber)}}</mat-error>
      </mat-form-field>

    </div>

    <div>
      <p class="m-0 p-0 font-bold">KI Physical Address</p>

      <mat-form-field appearance="outline" class="w-1/4 pr-4">
        <mat-label>Street Number</mat-label>
        <input
          matInput
          type="number"
          required
          formControlName="streetNumber"
          placeholder="Street Number"
        />
        <mat-error>{{utilityService.getError(streetNumber)}}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-1/4 pr-4">
        <mat-label>Street 1/Complex Name</mat-label>
        <input
          matInput
          required
          formControlName="street1"
          placeholder="Street 1/Complex Name"
        />
        <mat-error>{{utilityService.getError(street1)}}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-1/4 pr-4">
        <mat-label>Street 2</mat-label>
        <input
          matInput
          required
          formControlName="street2"
          placeholder="Street 2"
        />
        <mat-error>{{utilityService.getError(street2)}}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-1/4">
        <mat-label>Suburb</mat-label>
        <input
          matInput
          required
          formControlName="suburb"
          placeholder="Suburb"
        />
        <mat-error>{{utilityService.getError(suburb)}}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-1/4 pr-4">
        <mat-label>Town</mat-label>
        <input
          matInput
          required
          formControlName="town"
          placeholder="Town"
        />
        <mat-error>{{utilityService.getError(town)}}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-1/4 pr-4">
        <mat-label>Province</mat-label>
        <input
          matInput
          required
          formControlName="province"
          placeholder="Province"
        />
        <mat-error>{{utilityService.getError(province)}}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-1/4 pr-4">
        <mat-label>Postal Code</mat-label>
        <input
          matInput
          required
          max="9999999999"
          minlength="4"
          (keypress)="checkNumbers($event)"
          (paste)="checkNumbersPaste($event)"
          maxlength="10"
          formControlName="postalCode"
          placeholder="Postal Code"
        />
        <mat-error>{{utilityService.getError(postalCode)}}</mat-error>
      </mat-form-field>

    </div>

  </form>

  <div class="flex flex-row mb-8">

    <button [disabled]="kiId ? false : true" (click)="copyToIntermediary()" style="width: 200px; height: 48px;" class="rounded-md flex justify-center items-center flex-col mr-4" mat-raised-button color="primary-color">
      <div class="w-full flex justify-center items-center">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mr-2" fill="none" viewBox="0 0 24 24" stroke="white">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 16H6a2 2 0 01-2-2V6a2 2 0 012-2h8a2 2 0 012 2v2m-6 12h8a2 2 0 002-2v-8a2 2 0 00-2-2h-8a2 2 0 00-2 2v8a2 2 0 002 2z" />
        </svg>
        <div style="font-size: 12px;" class="text-white">Copy to Intermediary</div>
      </div>
    </button>

    <button (click)="confirmKeyIndividual()" style="width: 200px; height: 48px;" class="rounded-md flex justify-center items-center flex-col" mat-raised-button [disabled]="(kiForm.invalid || kiInactive) && !(kiStatus?.value.toUpperCase() === 'ACTIVE' && !kiForm.invalid)" [color]="kiForm.invalid ? 'disabled' : 'success'">
      <div class="w-full flex justify-center items-center">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 9v3m0 0v3m0-3h3m-3 0H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z" />
        </svg>
        <div style="font-size: 12px;">{{ kiId ? 'Save Changes' : 'Save'}}</div>
      </div>
    </button>

    <div class="flex justify-center items-center">
      <p class="m-0 p-0 ml-3 w-40">Please ensure all information is correct before saving.</p>
    </div>
  </div>

  <mat-divider *ngIf="kiId"></mat-divider>

  <app-ki-documents *ngIf="kiId" [kiId]="kiId" [kiActive]="kiActive" [kiInactive]="kiInactive"></app-ki-documents>

</div>


