<mat-card class="p-0 m-0">

  <div class="flex flex-row p-4">

    <div class="p-0 pb-1">

      <div class="mb-2">
        <p class="mb-0 p-0 text-xl font-bold">Intermediary:</p>
        <p class="mb-0 p-0 text-lg truncate overflow-hidden text-xs ml-1">{{ intermediaryId ? intermediaryName : 'N/A' }}</p>
      </div>

      <mat-divider class="pb-2"></mat-divider>
    </div>
  </div>

  <mat-tab-group
  >
    <mat-tab
      class="text-white opacity-100"
      [routerLink]="intermediaryRoute() + detail.route"
      routerLinkActive #rla="routerLinkActive"
      [disabled]="detail.disabled"
      *ngFor="let detail of tabDetail"
      [label]="detail.name"
    >
      <ng-container>
        <ng-component class="w-full" *ngComponentOutlet="detail.component"></ng-component>
      </ng-container>
    </mat-tab>
  </mat-tab-group>



</mat-card>
