@import '../../../../scss/variables.scss';

a {
  box-shadow: 0px 3px 6px #00000029;
}

nav {
  box-shadow: 0px 3px 6px #00000029;
}

.mat-tab-disabled {
  background-color: $grey-tones-3 !important;
  color: $disabled-text !important;
}
