<mat-card class="p-0 m-0">

  <div class="flex flex-row p-4">

    <button (click)="back()" color="back" style="width: 100px; height: 48px;" class="mr-4 rounded-md flex justify-center items-center flex-col" mat-raised-button>
      <div class="w-full flex justify-center items-center">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 mr-2" viewBox="0 0 20 20" fill="currentColor">
          <path fill-rule="evenodd" d="M9.707 16.707a1 1 0 01-1.414 0l-6-6a1 1 0 010-1.414l6-6a1 1 0 011.414 1.414L5.414 9H17a1 1 0 110 2H5.414l4.293 4.293a1 1 0 010 1.414z" clip-rule="evenodd" />
        </svg>
        <div style="font-size: 12px;">Back</div>
      </div>
    </button>

    <div>
      <p class="mb-0 p-0 text-xl font-bold">FSP: {{ fspName }}</p>
      <p class="text-sm font-thin">FSP Reg Number: {{ fspRegNumber }}</p>
    </div>

  </div>

  <div>
    <nav
      mat-tab-nav-bar
      class="bg-primary"
    >
      <a mat-tab-link
         class="text-white opacity-100"
         [routerLink]="fspRoute() + detail.route"
         routerLinkActive #rla="routerLinkActive"
         #activeAnchor
         [active]="rla.isActive"
         [disabled]="detail.disabled"
         *ngFor="let detail of tabDetail"
      >
        {{ detail.name }}
        <!-- <router-outlet></router-outlet> -->
      </a>
    </nav>
    <div>
<!--      <router-outlet></router-outlet>-->
      <app-fsp-detail *ngIf="fspDetailActive()"></app-fsp-detail>
      <app-ki-detail *ngIf="kiDetailActive()"></app-ki-detail>
      <app-intermediary-detail *ngIf="intermediaryDetailActive()"></app-intermediary-detail>
    </div>
  </div>



</mat-card>
